.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.gcWrap {
  background-image: url('/gcbg.jpg');
  background-repeat: repeat;
  background-position: center;
  height:100%;
}
.gbbgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1; 
}
.abWrap {
  background-image: url('/flamebg.jpg');
  background-repeat: repeat;
  background-position: center;
  height:100%;
}

.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}
.testcenter {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.heading {
  font-family: VT323;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  color: white;
  text-align: center;
}
.heading p {
  width: 500px;
}
.resume {
  margin: auto;
  width: 40%;
  background-color: white;
  /* height: 100%; */
  padding: 25px;
  /* border-style: outset; */
  border: 10px outset white;
}
@media only screen and (max-width: 600px) {
  .center {
    margin: auto;
    width: 95%;
    /* border: 3px solid green; */
    padding: 10px;
  }
  .resume {
    margin: auto;
    width: 95%;
  }
}